<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="email" type="ConfigSection.Email, ConfigSection"/>
  </configSections>

  <email xmlns="urn:ConfigSection">
    <client host="smtp.163.com" port="25" userName="user" password="test" />
  </email>
</configuration>